<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Lingua Classifier</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">Lingua Classifier<sup> alpha</sup></a>
    </div>
</nav>

<div class="container p-3">
    <div class="alert alert-success" role="alert">
        Спасибо за участие в исследовании!
    </div>
</div>

<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>