<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Lingua Classifier</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">Lingua Classifier<sup> alpha</sup></a>
    </div>
</nav>

<div class="container p-3">
    <div class="alert alert-success" role="alert">
        {{ task }}
    </div>

    <form action="{{ url_for('group.add_group', research_id=research_id, respondent_id=respondent_id) }}" method="post"
          id="add_group_form">
        <div class="form-group">
            <label for="InputName">Название группы</label>
            <input name="name" type="text" class="form-control" id="InputName"
                   placeholder="Введите название группы" required>
        </div>
        {% for word in material %}
            <div class="form-check-inline m-1">
                <label class="form-check-label">
                    <input class="form-check-input" name="check" type="checkbox" value="{{ word }}"> {{ word }}
                </label>
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary btn-block m-t-2">Добавить группу</button>
    </form>
</div>

<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>